<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"

	xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
            ">

	<context:annotation-config />

	<context:component-scan base-package="com.solarsystem.wheaterpredictor" />
	<context:component-scan
		base-package="com.solarsystem.wheaterpredictor.web.providers" />
	<context:component-scan base-package="com.solarsystem.wheaterpredictor.service" />

	<import resource="classpath*:applicationContext-*.xml" />

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>file:${catalina.base}/conf/application.properties</value>
			</list>
		</property>
		<property name="ignoreResourceNotFound" value="false" />
		<property name="searchSystemEnvironment" value="true" />
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
	</bean>

	<!-- orbits -->

	<bean name="ferengi" scope="prototype"
		class="com.solarsystem.wheaterpredictor.core.orbits.CircularOrbit">
		<property name="name" value="Ferengi" />
		<property name="angularSpeed" value="1" />
		<property name="initialPosition">
			<bean class="com.solarsystem.wheaterpredictor.core.orbits.PolarCoord"
				scope="prototype">
				<property name="radius" value="500" />
				<property name="azimuth" value="0" />
			</bean>
		</property>
	</bean>
	<bean name="betasoide" scope="prototype"
		class="com.solarsystem.wheaterpredictor.core.orbits.CircularOrbit">
		<property name="name" value="Betasoide" />
		<property name="angularSpeed" value="3" />
		<property name="initialPosition">
			<bean class="com.solarsystem.wheaterpredictor.core.orbits.PolarCoord"
				scope="prototype">
				<property name="radius" value="2000" />
				<property name="azimuth" value="0" />
			</bean>
		</property>
	</bean>
	<bean name="vulcano" scope="prototype"
		class="com.solarsystem.wheaterpredictor.core.orbits.CircularOrbit">
		<property name="name" value="Vulcano" />
		<property name="angularSpeed" value="-5" />
		<property name="initialPosition">
			<bean class="com.solarsystem.wheaterpredictor.core.orbits.PolarCoord"
				scope="prototype">
				<property name="radius" value="1000" />
				<property name="azimuth" value="0" />
			</bean>
		</property>
	</bean>

	<!-- events -->

	<bean id="dryWheatherEventType"
		class="com.solarsystem.wheaterpredictor.core.events.wheater.DryWheater">
		<property name="orbits">
			<list>
				<ref bean="ferengi" />
				<ref bean="betasoide" />
				<ref bean="vulcano" />
			</list>
		</property>
	</bean>

	<bean id="rainyWheatherEventType"
		class="com.solarsystem.wheaterpredictor.core.events.wheater.RainyWheater">
		<property name="orbits">
			<list>
				<ref bean="ferengi" />
				<ref bean="betasoide" />
				<ref bean="vulcano" />
			</list>
		</property>
		<property name="relatedEventTypes">
			<list>
				<bean
					class="com.solarsystem.wheaterpredictor.core.events.wheater.RainestDayWheater" />
			</list>
		</property>
	</bean>

	<bean id="goodWheatherEventType"
		class="com.solarsystem.wheaterpredictor.core.events.wheater.GoodWheater">
		<property name="orbits">
			<list>
				<ref bean="ferengi" />
				<ref bean="betasoide" />
				<ref bean="vulcano" />
			</list>
		</property>
	</bean>

	<!-- predictor -->

	<bean class="com.solarsystem.wheaterpredictor.core.WheaterPredictor">
		<property name="eventTypes">
			<list>
				<ref bean="dryWheatherEventType" />
				<ref bean="rainyWheatherEventType" />
				<ref bean="goodWheatherEventType" />
			</list>
		</property>
	</bean>

</beans>
